@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  /* #c81587 f pink
  #2f488e blue
  #d14f5a f orange
  #fcf065 yellow

  */

}
body {
  background-image: url("img/feminismbg.jpg");
  background-size: 100%;
  background-color: #ffffff;
}

a:link {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #fcf065;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #fcf065;
    background-color: transparent;
    text-decoration: none;
}

.name>a {
  font-family: 'Black Han Sans', sans-serif;
  position : fixed;
  color:#2f488e;
  left:30px;
  top:70px;
  font-size: 64px;
}
#description{
  position: fixed;
  font-weight: 700;
  color:#2f488e;
  text-align:left;
  left:30px;
  top:130px;
  font-size: 20px;
}
#menu{
  position: fixed;
  font-weight: 700;
  text-align:left;
  left: 30px;
  top: 210px;
  font-size: 24px;
}
#gallery{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.imgbox > img{
  height: 80vh;
 }

 .visible{
  display:inline;
 }

 .invisible{
  display: none;
 }
 .prev {
   left: 59px;
   cursor: pointer;
   position: relative;
   width: auto;
   height: 10vh;
   padding: 20px;
   color: #d14f5a;
   font-weight: bold;
   font-size: 40px;
 }

 .next {
   right: 59px;
   cursor: pointer;
   position: relative;
   width: auto;
   height: 10vh;
   padding: 20px;
   color: #d14f5a;
   font-weight: bold;
   font-size: 40px;
 }

 .prev:hover,
 .next:hover {
   background-color: rgba(0,0,0,0.8);
}
#description2{
  float: right;
  padding: 10px;
  top: 10vh;
  right: 4vw;
  position: fixed;
  width: 19vw;
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  background-color: rgba(252, 249, 101, 0.7);
}
#title{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 28px;
  color: #2f488e;
  line-height: 1.2;
}
