@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
}
body {
   background-image: url("img/beatlesbg.jpg");
   background-size: 100%;
}

a:link {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #0c00ff;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #0c00ff;
    background-color: transparent;
    text-decoration: none;
}

.name>a {
  font-family: 'Black Han Sans', sans-serif;
  position : fixed;
  color:#0c00ff;
  left:30px;
  top:70px;
  font-size: 64px;
}
#description{
  position: fixed;
  font-weight: 700;
  color:#0c00ff;
  text-align:left;
  left:30px;
  top:130px;
  font-size: 20px;
}
#menu{
  position: fixed;
  font-weight: 700;
  text-align:left;
  left: 30px;
  top: 210px;
  font-size: 24px;
}
.image{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  height: 80vh;
}
#description2{
  float: right;
  top: 10vh;
  right: 4vw;
  position: fixed;
  width: 19vw;
  text-align: left;
  color: #000;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
}
#title{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 28px;
  color: #0c00ff;
  line-height: 1.2;
}
