@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');


/*화살표를 absolute로 잡고, or relative를 주고 -xxpx 로 조정하면 된다 z index를 999로 주면 제일 위로 올라감*/
*{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Rokkitt', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:link {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #F7FF00;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #F7FF00;
    background-color: transparent;
    text-decoration: none;
}

h1{
  position: fixed;
  text-align: left;
  /* width: 100%; */
  /* vertical-align: middle; */
  left: 50.4vw;
  top: 114px;
  font-family: Rokkitt, serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 108px;
  color: #000000;
  z-index: 99;
  user-drag: none;
  user-select: none;
}
  h2{
    position: fixed;
    z-index: 99;
    font-size: 36px;
    font-weight: 400;
    top: 72px;
    left: 86.35vw;
    font-weight: 700;
    user-drag: none;
    user-select: none;
}
body{
  background-image: url('portfolio bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
a-scene{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0;
}
#Roomiz_picture{
  position: fixed;
  top: 14vw;
  left:25vw;
  z-index: 3;
  width: 50vw;
  opacity:0;
}
#menu{
  position: fixed;
  z-index: 99;
  font-family: Rokkitt, serif;
  font-size: 36px;
  line-height:42px;
  top: 72px;
  left: 14.4vw;
}
