@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');
/*화살표를 absolute로 잡고, or relative를 주고 -xxpx 로 조정하면 된다 z index를 999로 주면 제일 위로 올라감*/
*{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Rokkitt', sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url("img/stars.gif");
  background-size: 100%;
  background-color: #000;
}

a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FFFF00;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #FFFF00;
    background-color: transparent;
    text-decoration: none;
}

.name>a {
  font-family: 'Black Han Sans', sans-serif;
  position : fixed;
  color:#FFFF00;
  left:30px;
  top:70px;
  font-size: 64px;
}
#description{
  position: fixed;
  font-weight: 700;
  color:#FFFF00;
  text-align:left;
  left:30px;
  top:130px;
  font-size: 20px;
}
#menu{
  position: fixed;
  font-weight: 700;
  text-align:left;
  left: 30px;
  top: 210px;
  font-size: 24px;
}
#gallery{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.imgbox>img{
  height: 80vh;
}

 .visible{
  display:inline;
 }

 .invisible{
  display: none;
 }
 .prev {
   left: 59px;
   cursor: pointer;
   position: relative;
   width: auto;
   height: 10vh;
   padding: 20px;
   color: #FFFF00;
   font-weight: bold;
   font-size: 40px;
 }

 .next {
   right: 59px;
   cursor: pointer;
   position: relative;
   width: auto;
   height: 10vh;
   padding: 20px;
   color: #FFFF00;
   font-weight: bold;
   font-size: 40px;
   z-index: 99;
 }

 .prev:hover,
 .next:hover {
   background-color: rgba(0,0,0,0.8);
}

#description2{
  float: right;
  top: 10vh;
  right: 4vw;
  position: fixed;
  width: 19vw;
  text-align: left;
  color: #FFFF00;
  line-height: 1.6;
  font-weight: 400;
  font-size: 20px;
}

#title{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 28px;
  color: #FFFF00;
  line-height: 1.2;
}
