@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}


a:link {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #0000ff;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #0000ff;
    background-color: transparent;
    text-decoration: none;
}

.name>a{
  font-family: 'Black Han Sans', sans-serif;
  position : fixed;
  color:#0000ff;
  left:30px;
  top:70px;
  font-size: 64px;
}
#description{
  position: fixed;
  font-weight: 700;
  color:#0000ff;
  text-align:left;
  left:30px;
  top:130px;
  font-size: 20px;
}
#menu{
  position: fixed;
  font-weight: 700;
  text-align:left;
  left: 30px;
  top: 210px;
  font-size: 24px;
}

#gallery{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.imgbox > img{
  height: 80vh;
 }

 .visible{
  display:inline;
 }

 .invisible{
  display: none;
 }
 .prev {
   left: 59px;
   cursor: pointer;
   position: relative;
   width: auto;
   height: 10vh;
   padding: 20px;
   color: #0000ff;
   font-weight: bold;
   font-size: 40px;
 }

 .next {
   right: 59px;
   cursor: pointer;
   position: relative;
   width: auto;
   height: 10vh;
   padding: 20px;
   color: #0000ff;
   font-weight: bold;
   font-size: 40px;
   z-index: 99;
 }

 .prev:hover,
 .next:hover {
   background-color: rgba(0,0,0,0.8);
}
#description2{
  float: right;
  top: 10vh;
  right: 4vw;
  position: fixed;
  width: 19vw;
  text-align: left;
  color: #000;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
}
#title{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 28px;
  color: #0000ff;
  line-height: 1.2;
}
